
.header {
  color: navy;
  text-align: center;
  font-family: 'ABeeZee', 'Ariel';
  font-size: 3vw;
  text-shadow: 1px 1px #30FFFF;
  padding-bottom: 3vw;
}

.name, .topic {
  text-align: center;
  color: navy;
  font-family: 'ABeeZee';
  font-size: 2.2vw;
  text-shadow: 1px 1px #30FFFF;
}

iframe, img {
  display: block;
  margin: 0 auto;
  padding-bottom: 4vw;
}

